* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: bold;
}
body {
    background-color: black;
}
p {
    display: none;
    border-right: 1px solid white;
    color: white;
    font-size: 1.3em;
}
p.type {
    display: inherit;
    overflow: hidden;
    white-space: nowrap;
}
.time.type {
    animation: timeTypingEffect 2s steps(12);
    width: 12ch;
}
@keyframes timeTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 12ch;
    }
}
.place.type {
    animation: placeTypingEffect 2s steps(14);
    width: 14ch;
}
@keyframes placeTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 14ch;
    }
}
.boss.type {
    animation: bossTypingEffect 7s steps(45);
    width: 45ch;
}
@keyframes bossTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 45ch;
    }
}
.dots.type {
    animation: dotsTypingEffect 2s steps(3);
    width: 3ch;
}
@keyframes dotsTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 3ch;
    }
}
input {
    height: 2em;
    width: 3em;
    font-size: 1.3em;
}
input#nr {
    position: fixed;
    top: 11em;
}
button {
    position: fixed;
    top: 7em;
}
div.hint {
    position: fixed;
    bottom: 0;
    left: 3vw;
    width: 100px;
    height: 100px;
    background: white;
}
div.hint p {
    position: absolute;
    top: 1em;
    left: 1em;
    color: black;
    display: inherit;
}
