* {
    margin:  0;
    padding: 0;
    font-family: monospace;
}
div.scene {
    width: 100vw;
    height 63vw;
    overflow: hidden;
}
div.sky {
    width: 200vw;
    height: 63vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/sky.jpg);
}
div.timer {
    height: 3em;
    width: 100px;
    position: absolute;
    top: 1em;
    right: 3.5em;
    border: 1px solid white;
    text-align: center;
    padding-top: .7em;
}
p.hintPlane {
    color: black;
    position: absolute;
    top: 2em;
    left: 23vw;
    font-size: 2em;
}
div.plane {
    width: 70px;
    height: 30px;
    position: absolute;
}
div.plane3, div.plane4 {
    transform: rotateY(180deg);
}
div.cockpit {
    width: 100vw;
    position: fixed;
    top: 0;
}
div.cockpit img {
    width: 100%;
    pointer-events: none;
    position: relative;
    z-index: 1;
}
div.cockpit img.shake {
    animation: shake .67s forwards;
}
@keyframes shake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(0, .3vh);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(0, 0);
    }
}
