* {
    margin:  0;
    padding: 0;
}
div.sky {
    width: 200vw;
    height: 90vh;
    position: relative;
    background-image: url(images/sky.jpg);
}
div.plane {
    width: 70px;
    height: 30px;
    position: absolute;
}
div.plane3, div.plane4 {
    transform: rotateY(180deg);
}
div.cockpit {
    width: 100vw;
    position: fixed;
    top: 0;
}
div.cockpit img {
    width: 100%;
    pointer-events: none;
    position: relative;
    z-index: 1;
}
