* {
    margin:  0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
a.backToCharacter {
    position: fixed;
    z-index: 200;
}
/* intro */
div.roundTable {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(images/main-roundTable.jpg);
    background-size: cover;
}
div.introDiv {
    height: 5em;
    position: absolute;
    bottom: 0;
    left: 2em;
}
div.introDiv p{
    color: white;
    display: none;
    font-size: 1.2em;
}
div.introDiv p.type{
    overflow: hidden;
    white-space: nowrap;
    display: inherit;
}
div.introDiv p.introP1.type {
    display: inherit;
    animation: introP1TypingEffect 1s steps(6);
    width: 6ch;
}
@keyframes introP1TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 6ch;
    }
}
div.introDiv p.introP2.type {
    display: inherit;
    animation: introP2TypingEffect 3s steps(28);
    width: 28ch;
}
@keyframes introP2TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 28ch;
    }
}
img.phone {
    position: absolute;
    width: 30px;
    bottom: 119px;
    left: 366px;
    opacity: 0;
}
img.phone.blink {
    animation: blinkPhone 1.5s infinite;
}
@keyframes blinkPhone {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* map*/
div.map {
    width: 100vw;
    height: 100vh;
    border: 3px solid black;
    position: relative;
    background-image: url(images/world-map-default.png);
    background-size: cover;
}
/* characters*/
div.taskDes {
    padding: 3em;
    padding-top: 2.5em;
    display: none;
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
div.characters img.flagCorner {
    filter: grayscale();
    width: 40px;
    height: 40px;
}
div.character4 img.flagCorner {
    width: 45px;
    height: 45px;
}
div.characters:hover img.flagCorner {
    width: 70px;
    height: 70px;
}
div.characters div.taskDes p {
    text-align: left;
    font-size: 2em;
}
div.characters div.taskDes p.td.tdTall {
    margin-top: 1em;
    text-decoration: underline;
}
div.characters {
    height: 40vh;
    width: 20vw;
    background-image: url(images/opacityBG.png);
    position: absolute;
    top: 20vh;
}
div.character1 {
    left: 4vw;
}
div.character2 {
    left: 28vw;
}
div.character3 {
    left: 52vw;
}
div.characters p {
    font-size: 2.3em;
    text-align: center;
    margin-top: .5em;
}
div.characters:hover {
    background: #222;
    cursor: pointer;
}
div.characters:hover p.characterTitle {
    display: none;
}
div.characters:hover p.td {
    display: inherit;
    color: white;
    font-size: 1.5em;
}
div.characters:hover p.td:first-of-type {
    font-size: 2em;
    font-weight: bolder;
}
div.character1:hover div.taskDes, div.character2:hover div.taskDes, div.character3:hover div.taskDes, div.character4:hover div.taskDes {
    display: inherit;
}
div.character1:hover, div.character2:hover, div.character3:hover, div.character4:hover {
    width: 89vw;
    height: 59vh;
    left: 4vw;
    z-index: 1;
}
div.character1:hover img, div.character2:hover img, div.character3:hover img, div.character4:hover img {
    width: 50%;
}
div.character1:hover img {
    width: 55%;
}
div.character4 {
    right: 4vw;
}
div.character4:hover {
    right: 4vw;
}
div.characters img {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* conversation*/
div.us {
    width: 40vw;
    position: fixed;
    left: 0;
    height: 100vh;
    overflow: hidden;
}
div.us img {
    height: 70vh;
    filter: grayscale(100);
}
div.russia {
    width: 20vw;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: red;
}
div.russiaFlag img {
    height: 60vh;
    position: absolute;
    left: 0;
    filter: grayscale(100);
}
div.russiaP {
    height: 55vh;
}
div.russiaP img {
    width: 80%;
    position: absolute;
    bottom: 70px;
}
div.trigger {
    width: 10vw;
    height: 30px;
    background: black;
    position: absolute;
    bottom: 0;
    right: 5vw;
}
div.conversation {
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: 40vw;
    height: 100vh;
    background: black;
}
div.usP {
    position: absolute;
    bottom: 0;
    left: 0;
}
div.usP img{
    width: 50vw;
    height: 61vh;
}
div.russiaP {
    height: 60vh;
    width: 30vw;
    position: absolute;
    bottom: 10vh;
}
div.finishedConversation {
    height: 63vh;
    width: 100%;
    position: absolute;
    top: 0;
    border: 2px dotted white;
}
div.finishedConversation p {
    color: gray;
}
div.choices {
    height: 37vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}
div.choices p {
    color: white;
    font-size: .9em;
}
div.script {
    width: 100%;
    height: 100%;
}
div.script p {
    color: white;
    left: 1em;
}
/* code */
main.codeGame {
    background: black;
    height: 100vh;
}
div.codeScreen {
    width: 70vw;
    height: 97vh;
    position: relative;
    left: 0;
    background-image: url(images/TV-without-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
div.codeScreen input {
    border: none;
    border-bottom: 3px solid #c0ffa1;
    position: absolute;
    bottom: 40vh;
    background: transparent;
    font-size: 7em;
    color: #c0ffa1;
    width: 7vw;
}
div.codeScreen input#nr1 {
    left: 15vw;
}
div.codeScreen input#nr2 {
    left: 25vw;
}
div.codeScreen input#nr3 {
    left: 35vw;
}
div.check {
    position: absolute;
    bottom: 40vh;
    right: 13vw;
    width: 10vw;
    height: 10vh;
    z-index: 1;
}
div.check img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
div.hint {
    position: absolute;
    top: 67vh;
    left: 12vw;
    font-size: 1.7em;
}
div.hint p {
    color: #c0ffa1;
    width: 50vw;
}
/* plane */
div.scene {
    width: 100vw;
    height: 80vh;
    overflow: auto;
}
div.scene img.sky {
    height: 170%;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    animation: skyVibrate 121s forwards;
}
@keyframes skyVibrate {
    to {
        transform: scale(2.3);
        transform-origin: top;
    }
}
div.arrowKeys {
    font-size: 2em;
    height: 5em;
    width: 9em;
    z-index: 2;
    position: absolute;
    top: 6em;
    left: 3em;
    color: white;
}
div.arrowKeys p:nth-of-type(1) {
    position: absolute;
    left: 4em;
}
div.arrowKeys p:nth-of-type(2) {
    position: absolute;
    left: 4em;
    top: .7em;
}
div.arrowKeys p:nth-of-type(3) {
    position: absolute;
    left: .7em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(4) {
    position: absolute;
    left: 2em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(5) {
    position: absolute;
    left: 7em;
    top: 1.7em;
    line-height: 1em;
}
div.arrowKeys p:nth-of-type(6) {
    position: absolute;
    left: 6em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(7) {
    position: absolute;
    top: 3.1em;
    left: 4em;
}
div.arrowKeys p:nth-of-type(8) {
    position: absolute;
    top: 2.4em;
    left: 4em;
}
div.timerDiv {
    height: 2em;
    width: 7em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: .6em;
    color: white;
    font-size: 6em;
    z-index: 3;
}
div.timerDiv.flash {
    animation: timerFlash 1s infinite;
}
@keyframes timerFlash {
    0%, 100% {
        background-color: transparent;
        opacity: 0;
    }
    50% {
        background-color: red;
        opacity: .5;
    }
}
div.planeCount {
    position: absolute;
    left: 2em;
    top: 1em;
    z-index: 2;
    height: 5em;
    width: 9em;
    font-size: 2em;
    text-align: center;
    padding-top: .8em;
    color: white;
    background-color: rgba(255,255,255,.3);
}
div.planeCount p {
    font-size: 3em;
}
p.hintPlane {
    color: black;
    position: absolute;
    top: 2em;
    left: 23vw;
    font-size: 2em;
}
div.plane {
    width: 70px;
    height: 30px;
    position: absolute;
    cursor: crosshair;
}
div.planeExtra {
    display: none;
}
div.cockpit {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
div.cockpit img {
    width: 100%;
    height: 117%;
    pointer-events: none;
    position: relative;
    z-index: 1;
}
div.cockpit img.tiltLeft {
    animation: tiltL .47s cubic-bezier(0.24,-0.46, 0.25, 1) forwards;
}
@keyframes tiltL {
    to {
        transform: translate(-20px, -10px) rotate(15deg) scale(1.1);
    }
}
div.cockpit img.tiltRight {
    animation: tiltR .47s cubic-bezier(0.24,-0.46, 0.25, 1) forwards;
}
@keyframes tiltR {
    to {
        transform: translate(45px, 10px) rotate(-15deg) scale(1.1);
    }
}
.cockpit img.shake {
    animation: shake .67s forwards;
}
@keyframes shake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(0, .3vh);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(0, 0);
    }
}
div.cockpit img.tiltLeft.shake {
    animation: tiltLeftAndShake .65s forwards;
}
@keyframes tiltLeftAndShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(-20px, -.3vh) rotate(15deg) scale(1.1);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(-20px,0) rotate(15deg) scale(1.1);
    }
}
div.cockpit img.tiltRight.shake {
    animation: tiltRightAndShake .65s forwards;
}
@keyframes tiltRightAndShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(45px, -.3vh) rotate(-15deg) scale(1.1);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(45px,0) rotate(-15deg) scale(1.1);
    }
}
div.cockpit img.afterTiltRightAndShake {
    transform: translate(45px, 0) rotate(-15deg) scale(1.1);
}
div.cockpit img.afterTiltLeftAndShake {
    transform: translate(-20px, 0) rotate(15deg) scale(1.1);
}

/* static */
span.flash {
    animation: flashBomb 1s infinite;
}
@keyframes flashBomb {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
div.staticWrapper {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding-top: 3em;
    padding-left: 2em;
    position: relative;
}
@keyframes enlarge {
    to {
        transform: scale(7);
        transform-origin: top;
    }
}
div.static {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/static.jpg');
    background-size: cover;
}
div.static.turnBlack {
    animation: turnBlack .25s forwards;
}
@keyframes turnBlack {
    to {
        transform: rotateX(90deg);
        transform-origin: center;
    }
}
div.staticWrapper p {
    display: none;
    color: white;
    border-right: 1px solid white;
    font-size: 1.2em;
}
div.staticWrapper p.type {
    overflow: hidden;
    white-space: nowrap;
}
div.staticWrapper p.staticPlaneP1.type {
    display: inherit;
    animation: staticPlaneP1TypingEffect 7s steps(76);
    width: 76ch;
}
@keyframes staticPlaneP1TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 76ch;
    }
}
div.staticWrapper p.staticPlaneP2.type {
    display: inherit;
    animation: staticPlaneP2TypingEffect 1s steps(4);
    width: 4ch;
}
@keyframes staticPlaneP2TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 4ch;
    }
}
div.staticWrapper p.staticPlaneP3.type {
    display: inherit;
    animation: staticPlaneP3TypingEffect 4s steps(34);
    width: 34ch;
}
@keyframes staticPlaneP3TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 34ch;
    }
}
div.staticWrapper p.staticPlaneP4.type {
    display: inherit;
    animation: staticPlaneP4TypingEffect 2s steps(23);
    width: 23ch;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}
@keyframes staticPlaneP4TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 23ch;
    }
}
div.staticWrapper p.staticPlaneP5.type {
    display: inherit;
    animation: staticPlaneP5TypingEffect 4s steps(46);
    width: 46ch;
    font-size: 2em;
}
@keyframes staticPlaneP5TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 46ch;
    }
}
div.restart {
    cursor: crosshair;
    display: none;
    width: 100px;
    height: 50px;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    color: white;
    text-align: center;
    padding-top: 13px;
}
/* pilot */
.stage1 {
    display: inherit;
}
.stage2 {
    display: none;
}
.stage3 {
    display: none;
}
.stage4 {
    display: none;
}
div.pilotGameIntro{
    width: 100vw;
    background-color: black;
    padding: 1em;
    padding-right: 19em;
    color: white;
    z-index: -1;
}
@keyframes cockpitShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(0, .2vh);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(0, 0);
    }
}
@keyframes swing {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-50deg);
    }
    75% {
        transform: rotate(50deg);
    }
}
@keyframes swingLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-50deg);
    }
}
@keyframes swingRight {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(50deg);
    }
}
@keyframes lean {
    0%, 50%, 100% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(-55deg);
    }
    75% {
        transform: rotateX(65deg);
    }
}
@keyframes leanForward {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-55deg);
    }
}
@keyframes leanBackward {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(65deg);
    }
}
@keyframes fallLeft {
    0% {
        transform: rotate(0) translate(0,0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: rotateZ(-150deg) translate(-30vh, -30vh);
        transform-origin: bottom left;
    }
    100% {
        transform: rotateZ(-90deg) rotateY(85deg) translate(-20vh, -10vh);
        transform-origin: bottom left;
    }
}
@keyframes fallRight {
    0% {
        transform: rotate(0) translate(0,0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: rotateZ(150deg) translate(20vh, -20vh);
        transform-origin: bottom right;
    }
    100% {
        transform: rotateZ(90deg) rotateY(85deg) translate(20vh, 0);
        transform-origin: bottom right;
    }
}
@keyframes fallForward {
    0% {
        transform: rotateX(0deg);
        transform-origin: center;
    }
    50%, 100% {
        transform: rotateX(-90deg) scale(2);
        transform-origin: center;
        opacity: 0;
    }
}
@keyframes fallBackward {
    0% {
        transform: rotateX(0deg);
        transform-origin: center;
    }
    50%, 100% {
        transform: rotateX(90deg) scale(.5);
        transform-origin: center;
        opacity: 0;
    }
}
.insidePlane {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    animation: cockpitShake .67s infinite;
}
#bombPerspective {
    perspective: 250px;
}
#bombWrapper, #bombPerspective  {
    height: 40vh;
    width: 40vh;
    position: absolute;
    bottom: 0;
    left: 60vh;
}
#bombWrapper {
    left: 0;
    transform-origin: bottom center;
}
#bomb {
    height: 20vh;
    width: 20vh;
    border-radius: 10vh;
    background-color: black;
    position: absolute;
    left: 10vh;
    overflow: visible;
}
#pilotOnBomb {
    height: 60vh;
    width: 30vh;
    position: absolute;
    bottom: -3px;
    left: -5vh;
    border: 3px solid yellow;
}
#bombWrapper.swing {
    animation: swing 2s infinite;
}
#bombWrapper.swingLeft {
    animation: swingLeft 1s;
}
#bombWrapper.swingRight {
    animation: swingRight 1s;
}
#bombWrapper.lean {
    animation: lean 2s infinite;
}
#bombWrapper.leanForward {
    animation: leanForward 1s;
}
#bombWrapper.leanBackward {
    animation: leanBackward 1s;
}
#pilotOnBomb.swing{
    animation: swing 2s .1s infinite;
    transform-origin: bottom center;
}
#pilotOnBomb.swingLeft{
    animation: swingLeft 1s .1s;
    transform-origin: bottom center;
}
#pilotOnBomb.swingRight{
    animation: swingRight 1s .1s;
    transform-origin: bottom center;
}
#pilotOnBomb.lean {
    animation: lean 2s infinite;
}
#pilotOnBomb.leanForward {
    animation: leanForward 1s .1s;
}
#pilotOnBomb.leanBackward {
    animation: leanbackward 1s .1s;
}
#pilotOnBomb.swingRightFall {
    animation: fallLeft 1s .07s forwards;
}
#pilotOnBomb.swingLeftFall {
    animation: fallRight 1s .07s forwards;
}
#pilotOnBomb.leanBackwardFall {
    animation: fallForward 1s .07s forwards;
}
#pilotOnBomb.leanForwardFall {
    animation: fallBackward 1s .07s forwards;
    transform-origin: bottom;
}
