* {
    margin:  0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
a.backToCharacter {
    position: fixed;
    z-index: 200;
}
/* intro */
div.roundTable {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
div.roundTable img#roundTable {
    width: 100vw;
    height: 100vh;
}
div.introDiv {
    height: 5em;
    position: absolute;
    bottom: 4em;
    left: 2em;
}
div.introDiv p{
    color: white;
    display: none;
    font-size: 2.5em;
}
div.introDiv p.type{
    overflow: hidden;
    white-space: nowrap;
    display: inherit;
}
div.introDiv p.introP1.type {
    display: inherit;
    animation: introP1TypingEffect 1s steps(6);
    width: 6ch;
}
@keyframes introP1TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 6ch;
    }
}
div.introDiv p.introP2.type {
    display: inherit;
    animation: introP2TypingEffect 3s steps(28);
    width: 28ch;
}
@keyframes introP2TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 28ch;
    }
}
img.phone {
    position: absolute;
    width: 110px;
    bottom: 36vh;
    left: 71vw;
    opacity: 0;
    transform: rotate(325deg);
}
img.phone.blink {
    animation: blinkPhone 1.2s ease-out infinite;
}
@keyframes blinkPhone {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
p.pickup {
    display: none;
    position: absolute;
    bottom: 5em;
    left: 70vw;
    color: white;
    font-size: 1.4em;
}
/* map*/
div.map {
    width: 100vw;
    height: 100vh;
    border: 3px solid black;
    position: relative;
    background-image: url(images/world-map-default.png);
    background-size: cover;
}
div.map h1 {
    position: absolute;
    bottom: 7vh;
    font-size: 3em;
    color: #777;
    margin-left: 28vw;
}
/* characters*/
div.taskDes {
    padding: 3em;
    padding-top: 2.5em;
    display: none;
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
div.characters img.flagCorner {
    filter: grayscale();
    width: 40px;
    height: 40px;
}
div.character4 img.flagCorner {
    width: 45px;
    height: 45px;
}
div.characters:hover img.flagCorner {
    width: 70px;
    height: 70px;
}
div.characters div.taskDes p {
    text-align: left;
    font-size: 2em;
}
div.characters div.taskDes p.td.tdTall {
    margin-top: 1em;
    text-decoration: underline;
}
div.characters {
    height: 40vh;
    width: 20vw;
    background-image: url(images/opacityBG.png);
    position: absolute;
    top: 20vh;
}
div.character1 {
    left: 4vw;
}
div.character2 {
    left: 28vw;
}
div.character3 {
    left: 52vw;
}
div.characters p {
    font-size: 2.3em;
    text-align: center;
    margin-top: .5em;
}
div.characters:hover {
    background: #222;
    cursor: pointer;
}
div.characters:hover p.characterTitle {
    display: none;
}
div.characters:hover p.td {
    display: inherit;
    color: white;
    font-size: 1.5em;
}
div.characters:hover p.td:first-of-type {
    font-size: 2em;
    font-weight: bolder;
}
div.character1:hover div.taskDes, div.character2:hover div.taskDes, div.character3:hover div.taskDes, div.character4:hover div.taskDes {
    display: inherit;
}
div.character1:hover, div.character2:hover, div.character3:hover, div.character4:hover {
    width: 89vw;
    height: 59vh;
    left: 4vw;
    z-index: 1;
}
div.character1:hover img, div.character2:hover img, div.character3:hover img, div.character4:hover img {
    width: 50%;
}
div.character1:hover img {
    width: 55%;
}
div.character4 {
    right: 4vw;
}
div.character4:hover {
    right: 4vw;
}
div.characters img {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* conversation*/
div.us {
    width: 62vw;
    position: fixed;
    left: -1.9vw;
    height: 100vh;
    overflow: visible;
}
div.us img {
    height: 73vh;
    filter: grayscale(100);
}
div.usP {
    position: absolute;
    bottom: 0;
    left: -2.5vw;
}
div.usP img{
    width: 140%;
    height: 65vh;
}
div.russia {
    width: 40vw;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
}
div.russiaFlag img {
    height: 100vh;
    position: absolute;
    top: 24vh;
    left: 31vw;
    filter: grayscale(100);
    transform: scale(1.7);
}
div.russiaP {
    height: 80vh;
    width: 30vw;
    position: absolute;
    bottom: 23vh;
    left: 13vw;
    z-index: 2;
}
div.russiaP img {
    width: 67%;
    position: absolute;
    left: 30%;
    bottom: 270px;
}
div.trigger {
    width: 60%;
    height: 30vh;
    position: absolute;
    bottom: -2vh;
    right: 0;
}
div.trigger img {
    width: 100%;
}
div.usFlag {
    position: absolute;
    top: -5.5vh;
    left: -2vw;
    height: 100%;
}
div.conversation {
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: 39vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
}
div.finishedConversation {
    height: 50vh;
    width: 98%;
    position: absolute;
    top: 0;
    overflow: scroll;
    font-size: 1.5em;
    color: white;
    padding-left: .5vw;
}
div.finishedConversation p {
    color: white;
    margin-top: 1em;
    margin-left: .5em;
}
div.choices {
    height: 43vh;
    width: 96%;
    position: absolute;
    bottom: 2vh;
    background-color: black;
    margin-bottom: 2vh;
    font-size: 1.4em;
    padding: 10px;
    color: white;
}
div.choices li {
    list-style-type: circle;
    color: white;
    cursor: pointer;
    margin-left: 1em;
    margin-bottom: .7em;
}
div.script {
    width: 100%;
    height: 100%;
}
div.choices p {
    color: white;
    font-size: 1.3em;
}
div.choices p.topic {
    line-height: 3em;
}
div.choices button {
    position: absolute;
    bottom: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-family: monospace bold;
    font-size: .6em;
}
.hide {
    display: none;
}

body.conversation .hint {
    position: absolute;
    bottom: 0;
    left: 6vw;
    font-size: .8em;
    color: white;
    font-family: monospace;
    z-index: 9;

}

.work {
    position: absolute;
    bottom: -8px;
    left: 180px;
    z-index: 99;
    background-color: black;
}

#tip {
    font-size: .76em;
    opacity: .9;
}

/* code */
main.codeGame {
    background: black;
    height: 100vh;
}
div.codeScreen {
    width: 70vw;
    height: 97vh;
    position: relative;
    left: 0;
    background-image: url(images/TV-without-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
div.codeScreen input {
    border: none;
    border-bottom: 3px solid #c0ffa1;
    position: absolute;
    bottom: 40vh;
    background: transparent;
    font-size: 7em;
    color: #c0ffa1;
    width: 7vw;
}
div.codeScreen input#nr1 {
    left: 15vw;
}
div.codeScreen input#nr2 {
    left: 25vw;
}
div.codeScreen input#nr3 {
    left: 35vw;
}
div.check {
    position: absolute;
    bottom: 40vh;
    right: 13vw;
    width: 10vw;
    height: 10vh;
    z-index: 1;
}
div.check img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
div.hint {
    position: absolute;
    top: 67vh;
    left: 12vw;
    font-size: 1.7em;
}
div.hint p {
    color: #c0ffa1;
    width: 50vw;
}
/* planes */
div.scene {
    width: 100vw;
    height: 80vh;
    overflow: auto;
}
div.scene img.sky {
    height: 170%;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    animation: skyVibrate 121s forwards;
}
@keyframes skyVibrate {
    to {
        transform: scale(2.3);
        transform-origin: top;
    }
}
div.arrowKeys {
    font-size: 2em;
    height: 5em;
    width: 9em;
    z-index: 2;
    position: absolute;
    top: 6em;
    left: 3em;
    color: white;
    pointer-events: none;
}
div.arrowKeys p:nth-of-type(1) {
    position: absolute;
    left: 4em;
}
div.arrowKeys p:nth-of-type(2) {
    position: absolute;
    left: 4em;
    top: .7em;
}
div.arrowKeys p:nth-of-type(3) {
    position: absolute;
    left: .7em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(4) {
    position: absolute;
    left: 2em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(5) {
    position: absolute;
    left: 7em;
    top: 1.7em;
    line-height: 1em;
}
div.arrowKeys p:nth-of-type(6) {
    position: absolute;
    left: 6em;
    top: 1.7em;
}
div.arrowKeys p:nth-of-type(7) {
    position: absolute;
    top: 3.1em;
    left: 4em;
}
div.arrowKeys p:nth-of-type(8) {
    position: absolute;
    top: 2.4em;
    left: 4em;
}
div.timerDiv {
    height: 2em;
    width: 7em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: .6em;
    color: white;
    font-size: 6em;
    z-index: 3;
    pointer-events: none;
}
div.timerDiv.flash {
    animation: timerFlash 1s infinite;
}
@keyframes timerFlash {
    0%, 100% {
        background-color: transparent;
        opacity: 0;
    }
    50% {
        background-color: red;
        opacity: .5;
    }
}
div.planeCount {
    position: absolute;
    left: 2em;
    top: 1em;
    z-index: 2;
    height: 5em;
    width: 9em;
    font-size: 2em;
    text-align: center;
    padding-top: .8em;
    color: white;
    background-color: rgba(255,255,255,.3);
    pointer-events: none;
}
div.planeCount p {
    font-size: 3em;
}
p.hintPlane {
    color: black;
    position: absolute;
    top: 2em;
    left: 23vw;
    font-size: 2em;
}
div.plane {
    width: 100px;
    height: 40px;
    position: absolute;
    cursor: crosshair;
}
div.planeExtra {
    display: none;
}
div.cockpit {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
div.cockpit img {
    width: 100%;
    height: 117%;
    pointer-events: none;
    position: relative;
    z-index: 1;
}
div.cockpit img.tiltLeft {
    animation: tiltL .47s cubic-bezier(0.24,-0.46, 0.25, 1) forwards;
}
@keyframes tiltL {
    to {
        transform: translate(-20px, -10px) rotate(15deg) scale(1.1);
    }
}
div.cockpit img.tiltRight {
    animation: tiltR .47s cubic-bezier(0.24,-0.46, 0.25, 1) forwards;
}
@keyframes tiltR {
    to {
        transform: translate(45px, 10px) rotate(-15deg) scale(1.1);
    }
}
.cockpit img.shake {
    animation: shake .67s forwards;
}
@keyframes shake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(0, .3vh);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(0, 0);
    }
}
div.cockpit img.tiltLeft.shake {
    animation: tiltLeftAndShake .65s forwards;
}
@keyframes tiltLeftAndShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(-20px, -.3vh) rotate(15deg) scale(1.1);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(-20px,0) rotate(15deg) scale(1.1);
    }
}
div.cockpit img.tiltRight.shake {
    animation: tiltRightAndShake .65s forwards;
}
@keyframes tiltRightAndShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(45px, -.3vh) rotate(-15deg) scale(1.1);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(45px,0) rotate(-15deg) scale(1.1);
    }
}
div.cockpit img.afterTiltRightAndShake {
    transform: translate(45px, 0) rotate(-15deg) scale(1.1);
}
div.cockpit img.afterTiltLeftAndShake {
    transform: translate(-20px, 0) rotate(15deg) scale(1.1);
}

/* static-win */
span.flash {
    animation: flashBomb 1s infinite;
}
@keyframes flashBomb {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
div.static {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/static.jpg');
    background-size: cover;
}
div.static.turnBlack {
    animation: turnBlack .25s forwards;
}
@keyframes turnBlack {
    to {
        transform: rotateX(90deg);
        transform-origin: center;
    }
}
div.staticWrapper {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding-top: 10em;
    padding-left: 7em;
    position: relative;
    overflow: hidden;
}
div.rollUp {
    height: auto;
}
div.rollUp.roll {
    animation: rollUp 7s forwards;
}
@keyframes rollUp {
    to {
        transform: translate(0, -107vh);
    }
}
div.staticWrapper p {
    display: none;
    color: white;
    border-right: 1px solid white;
    font-size: 2em;
}
div.staticWrapper p.type {
    overflow: hidden;
    white-space: nowrap;
}
div.staticWrapper p.staticPlaneP1.type {
    display: inherit;
    animation: staticPlaneP1TypingEffect 4s steps(65);
    width: 65ch;
}
@keyframes staticPlaneP1TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 65ch;
    }
}
div.staticWrapper p.staticPlaneP1Lose.type {
    display: inherit;
    animation: staticPlaneP1LoseTypingEffect 3s steps(38);
    width: 38ch;
}
@keyframes staticPlaneP1LoseTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 38ch;
    }
}
div.staticWrapper p.staticPlaneP2.type {
    display: inherit;
    animation: staticPlaneP2TypingEffect .7s steps(4);
    width: 4ch;
}
@keyframes staticPlaneP2TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 4ch;
    }
}
div.staticWrapper p.staticPlaneP2Lose.type {
    display: inherit;
    animation: staticPlaneP2LoseTypingEffect .5s steps(3);
    width: 3ch;
}
@keyframes staticPlaneP2LoseTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 3ch;
    }
}
div.staticWrapper p.staticPlaneP3.type {
    display: inherit;
    animation: staticPlaneP3TypingEffect 2.8s steps(34);
    width: 34ch;
}
@keyframes staticPlaneP3TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 34ch;
    }
}
div.staticWrapper p.staticPlaneP3Lose.type {
    display: inherit;
    animation: staticPlaneP3LoseTypingEffect 2s steps(26);
    width: 26ch;
}
@keyframes staticPlaneP3LoseTypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 26ch;
    }
}
div.staticWrapper p.staticPlaneP4.type {
    display: inherit;
    animation: staticPlaneP4TypingEffect 1.4s steps(23);
    width: 23ch;
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 1em;
}
@keyframes staticPlaneP4TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 23ch;
    }
}
div.staticWrapper p.staticPlaneP5.type {
    display: inherit;
    animation: staticPlaneP5TypingEffect 2.8s steps(46);
    width: 46ch;
    font-size: 3em;
}
@keyframes staticPlaneP5TypingEffect {
    0% {
        width: 0ch;
    }
    100% {
        width: 46ch;
    }
}
div.credit {
    display: inherit;
    line-height: 3em;
    position: absolute;
    margin-top: 100vh;
    margin-left: 10vw;
    padding-right: 7em;
    border-right: 1px solid white;
    text-align: center;
}
div.credit div.left {
    float: left;
    text-align: right;
    padding-right: 1em;
}
div.credit div.left p:first-of-type, div.credit div.right p:first-of-type {
    font-size: 2em;
}
div.credit div.right {
    float: right;
    text-align: left;
    padding-left: 1em;
}
div.credit p {
    display: inherit;
    border-right: none;
}
div.credit p.creditLine1 {
    font-size: 3em;
    font-weight: bold;
}
div.restart {
    cursor: crosshair;
    display: none;
    width: 300px;
    height: 150px;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    color: white;
    text-align: center;
    padding-top: 37px;
    font-size: 4em;
}
/* pilot */
div.demo {
    font-size: 2.6em;
    font-weight: bolder;
    color: white;
    position: fixed;
    top: 10vh;
    left: 15vw;
    width: 70vw;
}
div.hearts {
    width: 20vw;
    position: absolute;
    bottom: 3em;
    left: 3em;
}
div.hearts img {
    width: 5vw;
    margin-left: 1vw;
    filter: grayscale(70%);
}
body.pilot {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/insidePlane.png");
    background-size: cover;
    background-position:  bottom center;
    background-repeat: no-repeat;
}
body.pilot h1 {
    display: none;
    position: absolute;
    top:0;
    color: white;
    margin-top: 1em;
}
@keyframes cockpitShake {
    0%, 18%, 36%, 54%, 77%, 97% {
        transform: translate(0, .2vh);
    }
    9%, 27%, 45%, 65%, 86%, 100% {
        transform: translate(0, 0);
    }
}
@keyframes fallLeft {
    0% {
        transform: rotate(0) translate(0,0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: rotateZ(-150deg) translate(-30vh, -30vh);
        transform-origin: bottom left;
    }
    100% {
        transform: rotateZ(-90deg) rotateY(85deg) translate(-20vh, -10vh);
        transform-origin: bottom left;
    }
}
@keyframes fallRight {
    0% {
        transform: rotate(0) translate(0,0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: rotateZ(150deg) translate(10vh, -10vh);
        transform-origin: bottom right;
    }
    100% {
        transform: rotateZ(90deg) rotateY(89deg) translate(10vh, -10vh);
        transform-origin: bottom right;
    }
}
@keyframes fallForward {
    0% {
        transform: rotateX(0deg);
        transform-origin: center;
    }
    50%, 100% {
        transform: rotateX(-90deg) scale(2);
        transform-origin: center;
        opacity: 0;
    }
}
@keyframes fallBackward {
    0% {
        transform: rotateX(0deg);
        transform-origin: center;
    }
    50%, 100% {
        transform: rotateX(90deg) scale(.5);
        transform-origin: center;
        opacity: 0;
    }
}
.insidePlane {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    animation: cockpitShake .67s infinite;
}
#bombWrapper, #bombPerspective  {
    height: 40vh;
    width: 40vh;
    position: absolute;
    bottom: 0;
}
#bombWrapper {
    left: 0;
    transform-origin: bottom center;
}
#bombPerspective {
    perspective: 530px;
    height: 60vh;
    left: 67vh;
}
#bombWrapper img {
    height: 36vh;
    width: 36vh;
    position: absolute;
    left: 3vh;
    bottom: 1vh;
}
#pilotOnBomb {
    height: 60vh;
    width: 30vh;
    position: absolute;
    left: -1vh;
    bottom: 3vh;
}
#pilotOnBomb img {
    height: 100%;
}
#bombWrapper.swing {
    animation: swing 2s infinite;
}
#bombWrapper.swingLeft {
    animation: swingLeft 1s 1s;
}
#bombWrapper.swingRight {
    animation: swingRight 1s 1s;
}
#pilotOnBomb.pilotSwing{
    animation: swing 2s .05s infinite;
    transform-origin: bottom center;
}
#pilotOnBomb.swingLeft{
    animation: swingLeft 1s .1s;
    transform-origin: bottom center;
}
#pilotOnBomb.swingRight{
    animation: swingRight 1s .1s;
    transform-origin: bottom center;
}
@keyframes swing {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-40deg);
    }
    75% {
        transform: rotate(40deg);
    }
}
@keyframes swingLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-50deg);
    }
}
@keyframes swingRight {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(50deg);
    }
}
#bombWrapper.lean {
    animation: lean 2s infinite;
}
#bombWrapper.leanForward {
    animation: leanForward 1s 1s;
}
#bombWrapper.leanBackward {
    animation: leanBackward 1s 1s;
}
#pilotOnBomb.lean {
    animation: lean 2s infinite;
    transform-origin: bottom center;
}
#pilotOnBomb.leanForward {
    animation: leanForward 1s .1s;
    transform-origin: bottom center;
}
#pilotOnBomb.leanBackward {
    animation: leanBackward 1s .1s;
    transform-origin: bottom center;
}
@keyframes lean {
    0%, 50%, 100% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(-55deg);
    }
    75% {
        transform: rotateX(65deg);
    }
}
@keyframes leanForward {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-55deg);
    }
}
@keyframes leanBackward {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(65deg);
    }
}
#pilotOnBomb.swingRightFall {
    animation: fallLeft 1s 1.07s forwards;
}
#pilotOnBomb.swingLeftFall {
    animation: fallRight 1s 1.07s forwards;
}
#pilotOnBomb.leanBackwardFall {
    animation: fallForward 1s 1.07s forwards;
}
#pilotOnBomb.leanForwardFall {
    animation: fallBackward 1s 1.07s forwards;
    transform-origin: bottom;
}
#pilotOnBomb.swingRightDefaultFall {
    animation: fallLeft 1s 1.23s forwards;
}
#pilotOnBomb.swingLeftDefaultFall {
    animation: fallRight 1s 1.23s forwards;
}
#pilotOnBomb.leanBackwardDefaultFall {
    animation: fallForward 1s 1.23s forwards;
}
#pilotOnBomb.leanForwardDefaultFall {
    animation: fallBackward 1s 1.23s forwards;
    transform-origin: bottom;
}

/* presentation*/
body.presentation {
    background-image: url(images/presentation/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
